
<!-- views/pages/displayOrganisation.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"--> 
    <link rel="stylesheet" href="../css/displayOrganisation.css">
    <title>Your Organization Profile</title>
    
</head>

<body>

    <header>
        
        <div class="header-left">
            <a href="index.html"><img class="logo" src="Images/logo-horizontal.png"></a>
            <!-- <h1 style="display: inline; align-items: center; font-size: 20px;">Alturo</h1> -->
        </div>
    
        <nav class="header-right">
            <a href="registration">Refer Support</a>
            <a href="addSupportInfo" >Add Support Group</a>
            <a href="logout">LogOut</a>
            
            <!-- Add more links as needed -->
        </nav>

    </header>

    

    <main>
       <h2> Welcome  <%= organization.username %>!</h2>
        <section>
            <label for="orgName">Organization Name:</label>
            <p><%= organization.orgName %></p>
        </section>

        <section>
            <label for="email">Email:</label>
            <p><%= organization.email %></p>

        </section>

        <section>
            <label for="phoneNumber">Phone Number:</label>
            <p><%= organization.phoneNumber %></p>
            
        </section>

        <section>
            <label for="instaHandles">Instagram Handles:</label>
            <p><%= organization.instaHandles %> </p>
           
        </section>

        <section>
            <label for="twitterHandles">Twitter Handles</label>
            <p><%= organization.twitterHandles %></p>
            
        </section>

        <section>
            <label for="comments">Twitter Handles</label>
            <p><%= organization.comments %></p>
            
        </section>
        
    </main>


</body>

</html>

